# Citywide Payroll Data (Fiscal Year)

Data is collected because of public interest in how the City’s budget is being spent on salary and overtime pay for all municipal employees. Data is input into the City's Personnel Management System (“PMS”) by the respective user Agencies. Each record represents the following statistics for every city employee: Agency, Last Name, First Name, Middle Initial, Agency Start Date, Work Location Borough, Job Title Description, Leave Status as of the close of the FY (June 30th), Base Salary, Pay Basis, Regular Hours Paid, Regular Gross Paid, Overtime Hours worked, Total Overtime Paid, and Total Other Compensation (i.e. lump sum and/or retro payments). This data can be used to analyze how the City's financial resources are allocated and how much of the City's budget is being devoted to overtime. The reader of this data should be aware that increments of salary increases received over the course of any one fiscal year will not be reflected. All that is captured, is the employee's final base and gross salary at the end of the fiscal year.

Data source: NYC OpenData https://data.cityofnewyork.us/City-Government/Citywide-Payroll-Data-Fiscal-Year-/k397-673e

Updated
November 19, 2021

Data Provided by
Office of Payroll Administration (OPA)

## Data Preparation

The Citywide Payroll Data (Fiscal Year) dataset has the unique identifier k397-673e. The identifier is part of the dataste Url https://data.cityofnewyork.us/City-Government/Citywide-Payroll-Data-Fiscal-Year-/k397-673e. The following code downloads the dataset in tab-delimited CSV format and stores it in a local file called ./k397-673e.tsv.gz

In [3]:
# Download the full 'Citywide Payroll Data (Fiscal Year)' dataset.
# Note that the downloaded full dataset file is about 578 MB in size!


import gzip
import humanfriendly
import os
from openclean.data.source.socrata import Socrata

dataset = Socrata().dataset("k397-673e")

datafile = './k397-673e.tsv.gz'


# Download file only if it does not exist already.
if not os.path.isfile(datafile):
    with gzip.open(datafile, 'wb') as f:
        print('Downloading ...\n')
        dataset.write(f)


fsize = humanfriendly.format_size(os.stat(datafile).st_size)
print("Using '{}' in file {} of size {}".format(dataset.name, datafile, fsize))

Downloading ...

Using 'Citywide Payroll Data (Fiscal Year)' in file ./k397-673e.tsv.gz of size 105.1 MB

In [4]:
# Due to the size of the full dataset file, we make use of openclean's
# stream operator to avoid having to load the dataset into main-memory.

from openclean.pipeline import stream

ds_full = stream(datafile)

In [5]:
# Count number of records in the datasets.

print(f'{ds_full.count():,} rows.')

4,496,767 rows.

In [6]:
# Print the first ten rows of the dataset to get a first
# idea of the content.

ds_full.head()

,Fiscal Year,Payroll Number,Agency Name,Last Name,First Name,Mid Init,Agency Start Date,Work Location Borough,Title Description,Leave Status as of June 30,Base Salary,Pay Basis,Regular Hours,Regular Gross Paid,OT Hours,Total OT Paid,Total Other Pay
0,2020,17,OFFICE OF EMERGENCY MANAGEMENT,BEREZIN,MIKHAIL,,08/10/2015,BROOKLYN,EMERGENCY PREPAREDNESS MANAGER,ACTIVE,86005.00,per Annum,1820,84698.21,0,0.00,0.00
1,2020,17,OFFICE OF EMERGENCY MANAGEMENT,GEAGER,VERONICA,M,09/12/2016,BROOKLYN,EMERGENCY PREPAREDNESS MANAGER,ACTIVE,86005.00,per Annum,1820,84698.21,0,0.00,0.00
2,2020,17,OFFICE OF EMERGENCY MANAGEMENT,RAMANI,SHRADDHA,,02/22/2016,BROOKLYN,EMERGENCY PREPAREDNESS MANAGER,ACTIVE,86005.00,per Annum,1820,84698.21,0,0.00,0.00
3,2020,17,OFFICE OF EMERGENCY MANAGEMENT,ROTTA,JONATHAN,D,09/16/2013,BROOKLYN,EMERGENCY PREPAREDNESS MANAGER,ACTIVE,86005.00,per Annum,1820,84698.21,0,0.00,0.00
4,2020,17,OFFICE OF EMERGENCY MANAGEMENT,WILSON II,ROBERT,P,04/30/2018,BROOKLYN,EMERGENCY PREPAREDNESS MANAGER,ACTIVE,86005.00,per Annum,1820,84698.21,0,0.00,0.00
5,2020,17,OFFICE OF EMERGENCY MANAGEMENT,WASHINGTON,MORIAH,A,03/18/2019,BROOKLYN,EMERGENCY PREPAREDNESS MANAGER,ACTIVE,86005.00,per Annum,1820,87900.95,0,0.00,-3202.74
6,2020,17,OFFICE OF EMERGENCY MANAGEMENT,VAZQUEZ,MARGARET,,09/29/2008,BROOKLYN,EMERGENCY PREPAREDNESS MANAGER,ACTIVE,94415.00,per Annum,1820,84312.72,0,0.00,0.00
7,2020,17,OFFICE OF EMERGENCY MANAGEMENT,KRAWCZYK,AMANDA,N,05/15/2017,BROOKLYN,EMERGENCY PREPAREDNESS MANAGER,ACTIVE,86005.00,per Annum,1820,83976.54,0,0.00,0.00
8,2020,17,OFFICE OF EMERGENCY MANAGEMENT,MURRELL,JALEESA,S,12/01/2014,BROOKLYN,EMERGENCY PREPAREDNESS MANAGER,ACTIVE,86005.00,per Annum,1820,83877.36,0,0.00,0.00
9,2020,17,OFFICE OF EMERGENCY MANAGEMENT,DE LOS SANTOS,JANIRA,,06/05/2017,BROOKLYN,EMERGENCY PREPAREDNESS SPECIALIST,ACTIVE,67676.00,per Annum,1820,66647.77,348.5,16572.64,144.15

In [7]:
# Create a view on a subset of columns in the dataset.
# Choose the attributes that we are interested in.
COLUMNS = [
    'Fiscal Year',
    'Payroll Number',
    'Agency Name',
    'Last Name',
    'First Name',
    'Mid Init',
    'Agency Start Date',
    'Work Location Borough',
    'Title Description',
    'Leave Status as of June 30',
    'Base Salary',
    'Pay Basis',
    'Regular Hours',
    'Regular Gross Paid',
    'OT Hours',
    'Total OT Paid',
    'Total Other Pay'
]

ds = ds_full.select(columns=COLUMNS)

## Data Profiling

Data profiling is an important first step in many data analytics efforts. Profiling helps users to gain an understanding of the data properties and to uncover data quality flaws. openclean supports a variety of different data profiling operators that can also be used to generate metadata about the data at hand.

We can use the default column profiler to compute basic statistics such as the number of distinct values, missing values, etc. for each of the columns in our dataset. In the example shown below we use a random sample of 1000 rows for profiling. The result is a list of profiling results (dictionaries). A summary of the results can then be accessed as a data frame using the stats() method.

In [8]:
# Profile the resulting dataset view using the default data profiler.

from openclean.profiling.column import DefaultColumnProfiler

profiles = ds.profile(default_profiler=DefaultColumnProfiler)

In [9]:
# Print overview of profiling results.

profiles.stats()

,total,empty,distinct,uniqueness,entropy
Fiscal Year,4496767,0,8,1.779056e-06,2.998439
Payroll Number,4496767,1745440,157,5.706337e-05,4.262211
Agency Name,4496767,0,165,3.669303e-05,4.344091
Last Name,4496767,6610,163789,3.647734e-02,14.280872
First Name,4496767,6612,91764,2.043671e-02,11.632334
Mid Init,4496767,1835833,44,1.653555e-05,4.073135
Agency Start Date,4496767,63,15272,3.396265e-03,11.109560
Work Location Borough,4496767,506229,22,5.513041e-06,1.493281
Title Description,4496767,88,1822,4.051879e-04,6.182352
Leave Status as of June 30,4496767,0,5,1.111910e-06,0.720258
Base Salary,4496767,0,100582,2.236763e-02,10.251639
Pay Basis,4496767,0,4,8.895280e-07,1.403026
Regular Hours,4496767,0,89307,1.986027e-02,4.505054
Regular Gross Paid,4496767,0,1918388,4.266149e-01,17.794319
OT Hours,4496767,0,56445,1.255235e-02,4.080702
Total OT Paid,4496767,0,891348,1.982197e-01,6.269883
Total Other Pay,4496767,0,998947,2.221478e-01,10.952770

In [10]:
# Print the most frequent data type for each column.

print('Schema\n------')
for col in ds.columns:
    p = profiles.column(col)
    print("  '{}' ({})".format(col, p['datatypes']['distinct'].most_common(1)[0][0]))

Schema
------
  'Fiscal Year' (int)
  'Payroll Number' (int)
  'Agency Name' (str)
  'Last Name' (str)
  'First Name' (str)
  'Mid Init' (str)
  'Agency Start Date' (date)
  'Work Location Borough' (str)
  'Title Description' (str)
  'Leave Status as of June 30' (str)
  'Base Salary' (float)
  'Pay Basis' (str)
  'Regular Hours' (float)
  'Regular Gross Paid' (float)
  'OT Hours' (float)
  'Total OT Paid' (float)
  'Total Other Pay' (float)

In [11]:
# Print the minimum and maximum value for column 'Fiscal Year'

profiles.minmax('Fiscal Year')

      min   max
int  2014  2021

In [12]:
# Print the minimum and maximum value for column 'Payroll Number'

profiles.minmax('Payroll Number')

     min  max
int    2  996

In [13]:
# Print the minimum and maximum value for column 'Agency Start Date'

profiles.minmax('Agency Start Date')

            min                  max
date 1901-01-01  9999-12-31 00:00:00

It seems to be a problem--can't be future date here.

In [14]:
# Print the minimum and maximum value for column 'Base Salary'

profiles.minmax('Base Salary')

        min       max
float  0.01  414707.0

In [15]:
# Print the minimum and maximum value for column 'Regular Hours'

profiles.minmax('Regular Hours')

           min      max
int   -1260.00  4160.00
float  -730.43  4171.43

Why negatives?

In [16]:
# Print the minimum and maximum value for column 'Regular Gross Paid'

profiles.minmax('Regular Gross Paid')

             min        max
float -117989.06  672308.86

Why negatives?

In [17]:
# Print the minimum and maximum value for column 'OT Hours'

profiles.minmax('OT Hours')

          min     max
int   -209.00  3147.0
float  -89.75  3347.5

Why negatives?

In [18]:
# Print the minimum and maximum value for column 'Total OT Paid'

profiles.minmax('Total OT Paid')

            min        max
float -26493.88  248749.72

Why negatives?

In [19]:
# Print the minimum and maximum value for column 'Total Other Pay'

profiles.minmax('Total Other Pay')

             min       max
float -281595.04  650000.0

In [20]:
# Print the most frequent values in column 'Agency Name'

profiles.column('Agency Name').get('topValues')

[('DEPT OF ED PEDAGOGICAL', 871883),
 ('DEPT OF ED PER SESSION TEACHER', 710893),
 ('POLICE DEPARTMENT', 426754),
 ('DEPT OF ED PARA PROFESSIONALS', 284663),
 ('BOARD OF ELECTION POLL WORKERS', 278852),
 ('DEPT OF ED HRLY SUPPORT STAFF', 182631),
 ('FIRE DEPARTMENT', 147868),
 ('DEPARTMENT OF EDUCATION ADMIN', 128233),
 ('DEPT OF PARKS & RECREATION', 127626),
 ('HRA/DEPT OF SOCIAL SERVICES', 117632)]

In [21]:
# Print the most frequent values in column 'Work Location Borough'

profiles.column('Work Location Borough').get('topValues')

[('MANHATTAN', 2812248),
 ('QUEENS', 439033),
 ('BROOKLYN', 372480),
 ('BRONX', 205181),
 ('OTHER', 95604),
 ('RICHMOND', 53654),
 ('WESTCHESTER', 3968),
 ('ULSTER', 2264),
 ('Manhattan', 1622),
 ('SULLIVAN', 950)]

In [22]:
# Print the most frequent values in column 'OT Hours'

profiles.column('OT Hours').get('topValues')

[('0', 3363544),
 ('1', 9464),
 ('2', 7677),
 ('8', 7633),
 ('4', 5937),
 ('3', 5482),
 ('5', 4628),
 ('7', 4476),
 ('6', 3900),
 ('16', 3503)]

## Looking for data quality issues

### Mid Init

In [23]:
states = ds.distinct('Mid Init')
for rank, val in enumerate(states.most_common()):
    st, freq = val
    print(f'{rank + 1:<3} {st}  {freq:>10,}')

1      1,835,833
2   A     398,861
3   M     378,639
4   J     240,114
5   L     197,413
6   E     163,602
7   R     147,504
8   C     137,430
9   S     133,451
10  D     129,393
11  P      88,838
12  T      80,279
13  N      71,234
14  B      68,694
15  F      63,863
16  G      63,450
17  K      60,863
18  H      45,337
19  V      42,274
20  I      40,350
21  W      38,932
22  Y      27,860
23  O      26,471
24  Z       6,341
25  U       4,168
26  X       2,566
27  Q       2,516
28  .         145
29  -          93
30  1          78
31  x          39
32  2          32
33  0          30
34  `          20
35  6          13
36  /          12
37  5           6
38  3           4
39  8           4
40  9           4
41  (           4
42  "           3
43  4           2
44  =           1
45  &           1

lowercase letters, numbers and weird characters

### Agency Name (Knn cluster method)
We try different kinds of knn clusters to find data problems. We use LevenshteinDistance, HammingDistance, JaroSimilarity here. By a little bit turning down the pred param, although there comes out a few fine data which we don't want, more problems are also discovered.

In [24]:
agency_names = ds.select('Agency Name').distinct()
#clusters = KeyCollision(func=Fingerprint()).clusters(agency_names)

In [25]:
# Cluster business names using kNN clusterer (with the default n-gram setting)
# using the Levenshtein distance as the similarity measure.
# Remove clusters that contain less than ten distinct values (for display
# purposes).

from openclean.cluster.knn import knn_clusters
from openclean.function.similarity.base import SimilarityConstraint
from openclean.function.similarity.text import LevenshteinDistance
from openclean.function.similarity.text import HammingDistance
from openclean.function.similarity.text import JaroSimilarity
from openclean.function.similarity.text import StringSimilarityFunction
from openclean.function.value.threshold import GreaterThan

# Minimum cluster size. Use ten as default (to limit
# the number of clusters that are printed in the next cell).
minsize = 2

clusters = knn_clusters(
    values=agency_names,
    #sim=SimilarityConstraint(func=LevenshteinDistance(), pred=GreaterThan(0.85)),
    #sim=SimilarityConstraint(func=HammingDistance(), pred=GreaterThan(0.85)),
    sim=SimilarityConstraint(func=JaroSimilarity(), pred=GreaterThan(0.9)),
    minsize=minsize
)

print('{} clusters of size {} or greater'.format(len(clusters), minsize))

13 clusters of size 2 or greater

In [26]:
# Define simple helper method to print the k largest clusters.

def print_k_clusters(clusters, k=5):
    clusters = sorted(clusters, key=lambda x: len(x), reverse=True)
    val_count = sum([len(c) for c in clusters])
    print('Total number of clusters is {} with {} values'.format(len(clusters), val_count))
    for i in range(min(k, len(clusters))):
        print('\nCluster {}'.format(i + 1))
        for key, cnt in clusters[i].items():
            if key == '':
                key = "''"
            print(f'  {key} (x {cnt})')

In [27]:
print_k_clusters(clusters,13)

Total number of clusters is 13 with 77 values

Cluster 1
  BROOKLYN COMMUNITY BOARD #2 (x 31)
  BROOKLYN COMMUNITY BOARD #3 (x 24)
  BROOKLYN COMMUNITY BOARD #4 (x 27)
  BROOKLYN COMMUNITY BOARD #5 (x 34)
  BROOKLYN COMMUNITY BOARD #6 (x 27)
  BROOKLYN COMMUNITY BOARD #7 (x 25)
  BROOKLYN COMMUNITY BOARD #8 (x 24)
  BROOKLYN COMMUNITY BOARD #9 (x 23)
  BROOKLYN COMMUNITY BOARD #10 (x 34)
  BROOKLYN COMMUNITY BOARD #11 (x 28)
  BROOKLYN COMMUNITY BOARD #12 (x 26)
  BROOKLYN COMMUNITY BOARD #13 (x 32)
  BROOKLYN COMMUNITY BOARD #14 (x 25)
  BROOKLYN COMMUNITY BOARD #15 (x 27)
  BROOKLYN COMMUNITY BOARD #16 (x 25)
  BROOKLYN COMMUNITY BOARD #17 (x 32)
  BROOKLYN COMMUNITY BOARD #18 (x 25)
  BROOKLYN COMMUNITY BOARD #1 (x 25)

Cluster 2
  QUEENS COMMUNITY BOARD #2 (x 32)
  QUEENS COMMUNITY BOARD #3 (x 33)
  QUEENS COMMUNITY BOARD #4 (x 25)
  QUEENS COMMUNITY BOARD #5 (x 32)
  QUEENS COMMUNITY BOARD #6 (x 33)
  QUEENS COMMUNITY BOARD #7 (x 37)
  QUEENS COMMUNITY BOARD #8 (x 40)
  QUEENS COMMUNITY BOARD #9 (x 32)
  QUEENS COMMUNITY BOARD #10 (x 34)
  QUEENS COMMUNITY BOARD #11 (x 26)
  QUEENS COMMUNITY BOARD #12 (x 32)
  QUEENS COMMUNITY BOARD #13 (x 25)
  QUEENS COMMUNITY BOARD #14 (x 28)
  QUEENS COMMUNITY BOARD #1 (x 35)

Cluster 3
  BRONX COMMUNITY BOARD #2 (x 26)
  BRONX COMMUNITY BOARD #3 (x 16)
  BRONX COMMUNITY BOARD #4 (x 25)
  BRONX COMMUNITY BOARD #5 (x 24)
  BRONX COMMUNITY BOARD #6 (x 24)
  BRONX COMMUNITY BOARD #7 (x 27)
  BRONX COMMUNITY BOARD #8 (x 29)
  BRONX COMMUNITY BOARD #9 (x 32)
  BRONX COMMUNITY BOARD #10 (x 47)
  BRONX COMMUNITY BOARD #11 (x 34)
  BRONX COMMUNITY BOARD #12 (x 22)
  BRONX COMMUNITY BOARD #1 (x 17)

Cluster 4
  MANHATTAN COMMUNITY BOARD #2 (x 36)
  MANHATTAN COMMUNITY BOARD #3 (x 35)
  MANHATTAN COMMUNITY BOARD #4 (x 27)
  MANHATTAN COMMUNITY BOARD #5 (x 32)
  MANHATTAN COMMUNITY BOARD #6 (x 30)
  MANHATTAN COMMUNITY BOARD #7 (x 25)
  MANHATTAN COMMUNITY BOARD #8 (x 41)
  MANHATTAN COMMUNITY BOARD #9 (x 24)
  MANHATTAN COMMUNITY BOARD #10 (x 31)
  MANHATTAN COMMUNITY BOARD #11 (x 28)
  MANHATTAN COMMUNITY BOARD #12 (x 26)
  MANHATTAN COMMUNITY BOARD #1 (x 33)

Cluster 5
  PUBLIC ADMINISTRATOR-NEW YORK (x 90)
  PUBLIC ADMINISTRATOR-RICHMOND (x 45)
  PUBLIC ADMINISTRATOR-BRONX (x 72)

Cluster 6
  COMMUNITY COLLEGE (QUEENSBORO) (x 28962)
  COMMUNITY COLLEGE (KINGSBORO) (x 34207)
  COMMUNITY COLLEGE (BRONX) (x 25681)

Cluster 7
  STATEN ISLAND COMMUNITY BD #2 (x 31)
  STATEN ISLAND COMMUNITY BD #3 (x 25)
  STATEN ISLAND COMMUNITY BD #1 (x 26)

Cluster 8
  BOARD OF CORRECTIONS (x 17)
  BOARD OF CORRECTION (x 200)

Cluster 9
  PUBLIC ADMINISTRATOR-BRONX (x 72)
  PUBLIC ADMINISTRATOR-NEW YORK (x 90)

Cluster 10
  PUBLIC ADMINISTRATOR-BRONX (x 72)
  PUBLIC ADMINISTRATOR-RICHMOND (x 45)

Cluster 11
  PUBLIC ADMINISTRATOR-QUEENS (x 68)
  PUBLIC ADMINISTRATOR-KINGS (x 120)

Cluster 12
  BOROUGH PRESIDENT-BROOKLYN (x 631)
  BOROUGH PRESIDENT-BRONX (x 492)

Cluster 13
  DISTRICT ATTORNEY QNS COUNTY (x 5651)
  DISTRICT ATTORNEY KINGS COUNTY (x 9196)

A typo found in Cluster 8

### Agency Name (key collision method)
#### Key Collision Clustering
openclean provides functionality for grouping values based on similarity. This functionality is adopted from OpenRefine Clustering. The main idea is to identify clusters of values that are different but might be alternative representations of the same thing.

One clustering algorithm that is included in openclean is key collision clustering. The main idea of key collision methods is to create an alternative representation for each value (i.e., a key), and then group values based on their keys. The default key generator on openclean is the fingerprint that was adopted from OpenRefine. The main steps in creating a fingerprint key value are:

1.remove leading and trailing whitespace,
2.convert string to lower case,
3.Normalize string by removing punctuation and control characters and replacing non-diacritic characters (if the default normalizer is used),
4.Tokenize string by splitting on whitespace characters,
5.Sort the tokens and remove duplicates,
6.Concatenate remaining (sorted) tokens using a single space character as the delimiter.

In [28]:
# Cluster Agency Name using key collision (with the default key generator).
# Remove clusters that contain less than seven distinct values (for display
# purposes). Use multiple threads (4) to generate value keys in parallel.

from openclean.cluster.key import key_collision

# Minimum cluster size. Use seven as defaultfor the full dataset (to limit
# the number of clusters that are printed in the next cell).
#minsize = 7

# Use minimum cluster size of 2 when using the dataset sample
minsize = 2

clusters = key_collision(values=agency_names, minsize=minsize, threads=4)

print('{} clusters of size {} or greater'.format(len(clusters), minsize))

1 clusters of size 2 or greater

In [29]:
print_k_clusters(clusters)

Total number of clusters is 1 with 2 values

Cluster 1
  POLICE DEPARTMENT (x 426754)
  Police Department (x 55619)

lowercase uppercase

### Agency Start Date
find the impossible dates

In [30]:
agency_start_dates = ds.distinct('Agency Start Date')

for rank, val in enumerate(agency_start_dates.most_common()):
    dt, freq = val
    if dt == '':
        continue
    if int(dt.split('/')[-1]) > 2020:        
        print(dt)
    elif int(dt.split('/')[1]) > 31 or int(dt.split('/')[1]) < 1:
        print(dt)
    elif int(dt.split('/')[1]) > 30 and int(dt.split('/')[0]) in [4,6,9,11]:
        print(dt)
    elif int(dt.split('/')[1]) > 28 and int(dt.split('/')[0]) == 2 and int(dt.split('/')[-1]) % 4 != 0:
        print(dt)
    elif int(dt.split('/')[1]) > 29 and int(dt.split('/')[0]) == 2 and int(dt.split('/')[-1]) % 4 == 0:
        print(dt)
    elif int(dt.split('/')[0]) > 12 or int(dt.split('/')[0]) < 1:
        print(dt)

02/02/2021
04/28/2021
06/07/2021
12/31/9999
02/24/2021
05/24/2021
05/10/2021
06/01/2021
05/17/2021
03/29/2021
01/04/2021
04/26/2021
05/03/2021
05/26/2021
01/01/2021
02/22/2021
04/05/2021
01/11/2021
03/01/2021
03/15/2021
02/08/2021
02/01/2021
06/14/2021
01/06/2021
01/25/2021
04/12/2021
04/19/2021
04/01/2021
01/21/2021
03/26/2021
03/22/2021
05/18/2021
03/08/2021
05/25/2021
04/21/2021
04/27/2021
05/27/2021
05/20/2021
04/29/2021
04/20/2021
03/05/2021
01/22/2021
01/14/2021
04/15/2021
05/05/2021
05/19/2021
04/30/2021
04/08/2021
01/29/2021
06/02/2021
02/16/2021
03/12/2021
01/26/2021
05/06/2021
04/23/2021
01/19/2021
01/05/2021
06/08/2021
05/11/2021
04/16/2021
05/12/2021
01/20/2021
03/16/2021
02/04/2021
05/13/2021
05/04/2021
01/28/2021
04/06/2021
03/04/2021
05/28/2021
04/09/2021
03/24/2021
04/22/2021
06/03/2021
02/18/2021
02/23/2021
02/26/2021
01/18/2021
03/25/2021
05/31/2021
03/09/2021
03/18/2021
02/09/2021
02/19/2021
05/23/2021
02/03/2021
03/10/2021
06/06/2021
02/11/2021
04/18/2021
03/23/2021
03/03/2021
03/02/2021
03/11/2021
06/09/2021
05/07/2021
04/13/2021
04/14/2021
05/21/2021
01/07/2021
03/17/2021
02/10/2021
04/07/2021
02/25/2021
02/17/2021
05/16/2021
05/09/2021
06/10/2021
03/30/2021
04/25/2021
02/05/2021
05/02/2021
02/12/2021
01/27/2021
06/04/2021
03/31/2021
05/30/2021
05/29/2021
01/15/2021
06/11/2021
04/11/2021
01/03/2021
06/21/2021
01/12/2021
05/01/2021
05/14/2021
03/06/2021
04/04/2021
03/19/2021
06/29/2021
06/24/2021
03/14/2021
01/13/2021
04/02/2021
01/10/2021
06/15/2021
01/08/2021
01/24/2021
02/07/2021
06/13/2021
02/15/2021
03/28/2021
06/17/2021
03/21/2021
06/16/2021
02/21/2021
01/31/2021
02/14/2021
07/01/2021
06/28/2021
02/28/2021
05/08/2021
06/05/2021
10/16/2049
06/18/2021
06/23/2021
01/09/2021
06/22/2021
04/24/2021
01/02/2021
06/26/2021

future date

### Work Location Borough (key_collision)

In [31]:
# Get set of distinct values for column 'Work Location Borough'. Print the
# values in decreasing order of frequency.

wlb = ds.distinct('Work Location Borough')
for rank, val in enumerate(wlb.most_common()):
    wlb, freq = val
    print(f'{rank + 1:<3} {wlb}  {freq:>10,}')

1   MANHATTAN   2,812,248
2        506,229
3   QUEENS     439,033
4   BROOKLYN     372,480
5   BRONX     205,181
6   OTHER      95,604
7   RICHMOND      53,654
8   WESTCHESTER       3,968
9   ULSTER       2,264
10  Manhattan       1,622
11  SULLIVAN         950
12  Bronx         935
13  Queens         660
14  DELAWARE         633
15  NASSAU         285
16  PUTNAM         281
17  SCHOHARIE         203
18  DUTCHESS         169
19  Richmond         112
20  ALBANY         110
21  GREENE          70
22  WASHINGTON DC          53
23  ORANGE          23

In [32]:
# Cluster street names using 'Key Collision' clustering with the
# default fingerprint key generator.

from openclean.cluster.key import KeyCollision
from openclean.function.value.key.fingerprint import Fingerprint

work_locations = ds.select('Work Location Borough').distinct()
clusters = KeyCollision(func=Fingerprint()).clusters(work_locations)

In [33]:
print_k_clusters(clusters)

Total number of clusters is 4 with 8 values

Cluster 1
  BRONX (x 205181)
  Bronx (x 935)

Cluster 2
  MANHATTAN (x 2812248)
  Manhattan (x 1622)

Cluster 3
  QUEENS (x 439033)
  Queens (x 660)

Cluster 4
  RICHMOND (x 53654)
  Richmond (x 112)

lowercase uppercase

### Title Description(knn clusters)

In [34]:
title = ds.select('Title Description').distinct()

In [35]:
# Minimum cluster size. Use ten as default (to limit
# the number of clusters that are printed in the next cell).
minsize = 2

clusters = knn_clusters(
    values=title,
    #sim=SimilarityConstraint(func=LevenshteinDistance(), pred=GreaterThan(0.85)),
    sim=SimilarityConstraint(func=HammingDistance(), pred=GreaterThan(0.85)),
    #sim=SimilarityConstraint(func=JaroSimilarity(), pred=GreaterThan(0.9)),
    minsize=minsize
)

print('{} clusters of size {} or greater'.format(len(clusters), minsize))

39 clusters of size 2 or greater

In [36]:
print_k_clusters(clusters,39)

Total number of clusters is 39 with 83 values

Cluster 1
  NON-TEACHING ADJUNCT III (x 3956)
  NON-TEACHING ADJUNCT I (x 10013)
  NON-TEACHING ADJUNCT V (x 1162)
  NON-TEACHING ADJUNCT IV (x 1452)
  NON-TEACHING ADJUNCT II (x 4135)

Cluster 2
  EDUCATIONAL ADMINISTRATOR UFT (x 70)
  EDUCATIONAL ADMINISTRATOR (x 1056)
  EDUCATIONAL ADMINISTRATOR CSA (x 7483)

Cluster 3
  SUPERVISOR II (x 1683)
  SUPERVISOR I (x 3816)
  SUPERVISOR III (x 545)

Cluster 4
  AGENCY ATTORNEY INTERN (x 110)
  AGENCY ATTORNEY INTERNE (x 843)

Cluster 5
  ADM MANAGER-NON-MGR (x 39)
  ADM MANAGER-NON-MGRL (x 6729)

Cluster 6
  INTELLIGENCE RESEARCH MANAGER (x 6)
  INTELLIGENCE RESEARCH MANAGER-PD (x 45)

Cluster 7
  HEALTH SERVICES MANAGER NON MANAGERIAL LEVEL II (x 139)
  HEALTH SERVICES MANAGER NON MANAGERIAL LEVEL I (x 432)

Cluster 8
  ADM SCHOOL SECURITY MANAGER-U (x 3)
  ADM SCHOOL SECURITY MANAGER (x 15)

Cluster 9
  DIRECTOR OF MANAGEMENT PLANNING (x 4)
  DIRECTOR OF MANAGEMENT PLANNING SS (x 27)

Cluster 10
  SERGEANT D/A SPECIAL ASSIGNMENT (x 674)
  SERGEANT-D/A SPECIAL ASSIGNMENT (x 1221)

Cluster 11
  INTELLIGENCE RESEARCH SPECIALIST (x 52)
  INTELLIGENCE RESEARCH SPECIALIST-PD (x 362)

Cluster 12
  ASSISTANT DEPUTY COMMISSIONER SS (x 21)
  ASSISTANT DEPUTY COMMISSIONER (x 10)

Cluster 13
  SECRETARY TO THE FIRST DEPUTY COMMISSIONER (x 11)
  SECRETARY TO THE FIRST DEPUTY COMMISSIONER-PD (x 7)

Cluster 14
  SECRETARY TO ONE DEPUTY COMMISSIONER (x 3)
  SECRETARY TO THE DEPUTY COMMISSIONER (x 57)

Cluster 15
  SECRETARY OF THE COMMISSION (x 8)
  SECRETARY TO THE COMMISSIONER (x 47)

Cluster 16
  SECRETARY TO THE COMMISSIONER OF DDC (x 7)
  SECRETARY TO THE COMMISSIONER OF BLDGS (x 5)

Cluster 17
  SECRETARY TO COMMISSIONER (x 6)
  SECRETARY OF COMMISSIONER (x 7)

Cluster 18
  ADMINISTRATIVE SPACE ANALYST (x 262)
  ADMINISTRATIVE STAFF ANALYST (x 21692)

Cluster 19
  SENIOR SYSTEMS ANALYST (x 1)
  SENIOR SYSTEMS ANALYSTS (x 18)

Cluster 20
  DIRECTOR OF MOTOR EQUIPMENT MAINTENANCE-NM (x 11)
  DIRECTOR OF MOTOR EQUIPMENT MAINTENANCE (x 14)

Cluster 21
  CHIEF ADMINISTRATOR OF IMPARTIAL HEARING OFFICE (x 2)
  CHIEF ADMINISTRATOR OF IMPARTIAL HEARINGS (x 7)

Cluster 22
  ASSISTANT RETIREMENT BENEFITS EXAMINER (x 786)
  ASSOCIATE RETIREMENT BENEFITS EXAMINER (x 2482)

Cluster 23
  SUPERVISOR OF ELECTRICAL INSTALLATIONS & MAINTENANCE (x 655)
  SUPERVISOR OF MECHANICAL INSTALLATIONS & MAINTENANCE (x 573)

Cluster 24
  ADMINISTRATIVE PROBATION OFFICER (x 360)
  ADMINISTRATIVE EDUCATION OFFICER (x 4321)

Cluster 25
  SERGEANT D/A SUPERVISOR DETECTIVE SQUAD (x 903)
  SERGEANT-D/A SUPERVISOR DETECTIVE SQUAD (x 1607)

Cluster 26
  COOP EDUCATION TRAINEE COMPUTER TECH AIDE/SR (x 55)
  COOP EDUCATION TRAINEE COMPUTER TECH AIDE/JR (x 218)

Cluster 27
  RADIO AND TEVEVISION OPERATOR (x 25)
  RADIO AND TELEVISION OPERATOR (x 190)

Cluster 28
  SECRETARY TO THE CHAIR (x 1)
  SECRETARY TO THE CHAIRMAN (x 13)

Cluster 29
  SECRETARY OF THE DEPARTMENT (x 14)
  SECRETARY TO THE DEPARTMENT (x 5)

Cluster 30
  SECRETARY TO DEPARTMENT (x 7)
  SECRETARY OF DEPARTMENT (x 1)

Cluster 31
  POLICE OFFICER D/A DETECTIVE 2ND GR (x 8822)
  POLICE OFFICER D/A DETECTIVE 1ST GR (x 3931)

Cluster 32
  CUNY CUSTODIAL ASSISTANT (x 3221)
  CITY CUSTODIAL ASSISTANT (x 6269)

Cluster 33
  TEACHER ASSIGNED B (x 17)
  TEACHER ASSIGNED A (x 5847)

Cluster 34
  SUPV OF HOUSING EXTERMINATORS (x 5)
  SUPV OF HOUSING EXTERMINATOR (x 23)

Cluster 35
  P/T SCHOOL AIDE (x 2)
  F/T SCHOOL AIDE (x 66542)

Cluster 36
  GASOLINE ROLLER ENGINEER (x 85)
  GASOLINE ROLLER ENGINEER-L15 (x 606)

Cluster 37
  SERGEANT (x 18556)
  SERGEANT- (x 16928)

Cluster 38
  CHAUFFEUR ATTENDANT (x 16)
  CHAUFFEUR-ATTENDANT (x 330)

Cluster 39
  ADULT ED-35 H (x 19)
  ADULT ED-30 H (x 267)

Quite a lot typos

### Title Description(key_collision)

In [37]:
from openclean.cluster.key import KeyCollision
from openclean.function.value.key.fingerprint import Fingerprint

title_description = stream(datafile).update('Title Description', str.upper).distinct('Title Description')
clusters = KeyCollision(func=Fingerprint()).clusters(title_description)

In [38]:
print_k_clusters(clusters,46)

Total number of clusters is 47 with 94 values

Cluster 1
  *ADM SCHOOL SECURITY MANAGER-U (x 20)
  ADM SCHOOL SECURITY MANAGER-U (x 3)

Cluster 2
  *ADMIN SCHL SECUR MGR-MGL (x 4)
  ADMIN SCHL SECUR MGR-MGL (x 1)

Cluster 3
  *ADMINISTRATIVE ATTORNEY (x 27)
  ADMINISTRATIVE ATTORNEY (x 5)

Cluster 4
  *CERTIFIED LOCAL AREA NETWORK ADMINISTRATOR (x 131)
  CERTIFIED LOCAL AREA NETWORK ADMINISTRATOR (x 116)

Cluster 5
  *CERTIFIED WIDE AREA NETWORK ADMINISTRATOR (x 63)
  CERTIFIED WIDE AREA NETWORK ADMINISTRATOR (x 25)

Cluster 6
  *CERTIFIED DATABASE ADMINISTRATOR (x 52)
  CERTIFIED DATABASE ADMINISTRATOR (x 9)

Cluster 7
  *ASSISTANT ADVOCATE-PD (x 10)
  ASSISTANT ADVOCATE-PD (x 62)

Cluster 8
  AGENCY ATTORNEY (x 10166)
  *AGENCY ATTORNEY (x 13)

Cluster 9
  ASSISTANT PURCHASING AGENT (x 18)
  ?ASSISTANT PURCHASING AGENT (x 55)

Cluster 10
  PURCHASING AGENT (x 42)
  ?PURCHASING AGENT (x 73)

Cluster 11
  *ASIST SYSTMS ANALYST (x 12)
  ASIST SYSTMS ANALYST (x 2)

Cluster 12
  *SR SYSTEMS ANALYST - EDP (x 7)
  SR SYSTEMS ANALYST - EDP (x 1)

Cluster 13
  *SENIOR SYSTEMS ANALYST (x 28)
  SENIOR SYSTEMS ANALYST (x 1)

Cluster 14
  *SUPVSNG SYSTEMS ANALYST (x 19)
  SUPVSNG SYSTEMS ANALYST (x 7)

Cluster 15
  *SYSTEMS ANALYST (x 87)
  SYSTEMS ANALYST (x 12)

Cluster 16
  *CERTIFIED APPLICATIONS DEVELOPER (x 45)
  CERTIFIED APPLICATIONS DEVELOPER (x 20)

Cluster 17
  SERGEANT-D/A SPECIAL ASSIGNMENT (x 1221)
  SERGEANTD/A SPECIAL ASSIGNMENT (x 552)

Cluster 18
  *ASSIST COORDINATING MANAGER (x 56)
  ASSIST COORDINATING MANAGER (x 7)

Cluster 19
  ASSISTANT DEPUTY COMMISSIONER (x 10)
  DEPUTY ASSISTANT COMMISSIONER (x 386)

Cluster 20
  *CUSTODIAL ASSISTANT (x 162)
  CUSTODIAL ASSISTANT (x 1340)

Cluster 21
  *ASSOCIATE EXECUTIVE DIRECTOR (x 35)
  ASSOCIATE EXECUTIVE DIRECTOR (x 6)

Cluster 22
  *ASSOCIATE EDUCATION OFFICER (x 110)
  ASSOCIATE EDUCATION OFFICER (x 257)

Cluster 23
  FIRST ASST MARINE ENGINEER (x 11)
  *FIRST ASST MARINE ENGINEER (x 8)

Cluster 24
  *ATTORNEY AT LAW (x 340)
  ATTORNEY AT LAW (x 431)

Cluster 25
  ?SUPERVISOR OF BRIDGE OPERATIONS (x 2)
  SUPERVISOR OF BRIDGE OPERATIONS (x 45)

Cluster 26
  *DIRECTOR OF HEALTH CARE PROGRAM PLANNING/ANALYSIS (x 30)
  DIRECTOR OF HEALTH CARE PROGRAM PLANNING/ANALYSIS (x 3)

Cluster 27
  *HOUSING CARETAKER (x 143)
  HOUSING CARETAKER (x 572)

Cluster 28
  CASE MANAGEMENT NURSE (x 225)
  CASE - MANAGEMENT NURSE (x 219)

Cluster 29
  ?SECRETARY TO DEPT CHANCELLOR (x 1)
  SECRETARY TO DEPT CHANCELLOR (x 1)

Cluster 30
  CHIEF RACKETS INVESTIGATOR (x 37)
  CHIEF RACKETS  INVESTIGATOR (x 11)

Cluster 31
  ?*COMMUNITY LIAISON WORKER (x 2)
  *COMMUNITY LIAISON WORKER (x 8)

Cluster 32
  *SR MANAGEMENT CONSULTANT (x 123)
  SR MANAGEMENT CONSULTANT (x 13)

Cluster 33
  *COOK (x 566)
  COOK (x 872)

Cluster 34
  *SENIOR COOK (x 130)
  SENIOR COOK (x 34)

Cluster 35
  *COORDINATING MANAGER (x 115)
  COORDINATING MANAGER (x 7)

Cluster 36
  SERGEANT-D/A SUPERVISOR DETECTIVE SQUAD (x 1607)
  SERGEANTD/A SUPERVISOR DETECTIVE SQUAD (x 879)

Cluster 37
  ELECTRICIAN'S HELPER (x 1138)
  ELECTRICIANS HELPER (x 182)

Cluster 38
  INSPECTOR GENERAL (x 221)
  GENERAL INSPECTOR (x 11)

Cluster 39
  *SENIOR STAFF OFFICER (x 7)
  SENIOR STAFF OFFICER (x 1)

Cluster 40
  *PRINCIPAL PARK SUPERVISOR (x 23)
  PRINCIPAL PARK SUPERVISOR (x 2)

Cluster 41
  ?PHARMACY TECHNICIAN (x 2)
  PHARMACY TECHNICIAN (x 4)

Cluster 42
  PHYSICAL THERAPIST (x 8141)
  ?PHYSICAL THERAPIST (x 16)

Cluster 43
  *RESEARCH SCIENTIST (x 7)
  RESEARCH SCIENTIST (x 1)

Cluster 44
  SERGEANT- (x 16928)
  SERGEANT (x 18556)

Cluster 45
  SUPERVISOR (x 12294)
  *SUPERVISOR (x 32)

Cluster 46
  *SURGEON (x 3)
  SURGEON (x 1)

'*' character

### Leave Status as of June 30

In [39]:
# Get set of distinct values for column 'Leave Status as of June 30'. Print the
# values in decreasing order of frequency.

ls = ds.distinct('Leave Status as of June 30')
for rank, val in enumerate(ls.most_common()):
    ls, freq = val
    print(f'{rank + 1:<3} {ls}  {freq:>10,}')

1   ACTIVE   3,828,710
2   CEASED     574,695
3   ON LEAVE      48,368
4   SEASONAL      37,345
5   ON SEPARATION LEAVE       7,649

### Pay Basis

In [40]:
# Get set of distinct values for column 'Pay Basis'. Print the
# values in decreasing order of frequency.

ls = ds.distinct('Pay Basis')
for rank, val in enumerate(ls.most_common()):
    ls, freq = val
    print(f'{rank + 1:<3} {ls}  {freq:>10,}')

1   per Annum   2,684,554
2   per Day   1,002,261
3   per Hour     789,496
4   Prorated Annual      20,456

### Data issues we found so far:
                                                                                   
1. Empty values in 'Last Name', 'First Name' 
2. weird charaters in 'Mid Init'     
3. 'Agency Name' value : police department, board of correction
4. 'Agency Start Date' value : 12/31/9999, 10/16/2049
5. 'OT hours', 'Regular Hours' negatives:
6. 'Work Location Borough' : MANHATTAN manhattan....
7. 'Title Description': many typos

## Data Cleaning

So far, we have fonud a couple of problems in this dataset. 
It's time to do data cleaning now.

In [41]:
from openclean.data.load import dataset

ds = dataset('./k397-673e.tsv.gz')

### 1. Empty values in 'Last Name', 'First Name'
change the lastname and firstname empty value to 'unknown'

In [42]:
# define a collable function to update the target name
def emptyname_to_unknown(x):
    if x == '':
        return 'UNKNOWN'
    else:
        return x

In [43]:
from openclean.operator.transform.update import update

ds = update(ds, columns='Last Name', func = emptyname_to_unknown)
ds = update(ds, columns='First Name', func = emptyname_to_unknown)

In [44]:
# use filter() method to check whether data is truly udpated

from openclean.operator.transform.filter import filter
from openclean.function.eval.base import Col

filtering = filter(ds, predicate=Col('Last Name') == 'UNKNOWN' and Col('First Name') == 'UNKNOWN')
filtering.head()

,Fiscal Year,Payroll Number,Agency Name,Last Name,First Name,Mid Init,Agency Start Date,Work Location Borough,Title Description,Leave Status as of June 30,Base Salary,Pay Basis,Regular Hours,Regular Gross Paid,OT Hours,Total OT Paid,Total Other Pay
147570,2020,300,BOARD OF ELECTION POLL WORKERS,PARVATI,UNKNOWN,,01/01/2010,MANHATTAN,ELECTION WORKER,ACTIVE,1.00,per Hour,0,353.00,0,0.00,0.00
528088,2020,901,DISTRICT ATTORNEY-MANHATTAN,UNKNOWN,UNKNOWN,,05/06/1991,MANHATTAN,CHIEF RACKETS INVESTIGATOR,ACTIVE,188568.00,per Annum,1820,186592.22,0,0.00,4991.97
528216,2020,901,DISTRICT ATTORNEY-MANHATTAN,UNKNOWN,UNKNOWN,,01/26/2004,MANHATTAN,SENIOR RACKETS INVESTIGATOR - START >4-24-08 N...,ACTIVE,84965.00,per Annum,2080,84096.14,661.5,41351.02,16524.03
528222,2020,901,DISTRICT ATTORNEY-MANHATTAN,UNKNOWN,UNKNOWN,,02/14/2005,MANHATTAN,ASSISTANT CHIEF RACKET INVESTIGATOR,ACTIVE,139018.00,per Annum,1820,137310.11,0,0.00,3500.00
528238,2020,901,DISTRICT ATTORNEY-MANHATTAN,UNKNOWN,UNKNOWN,,07/05/2005,MANHATTAN,SENIOR RACKETS INVESTIGATOR - START >4-24-08 N...,ACTIVE,84818.00,per Annum,2080,84626.68,526.5,32764.50,16901.62

### weird charaters in 'Mid Init'
Previously, we found some weird characters here : numbers, symbols, lowercase letters. Since a name initial should only be uppercase letter, so we change all the numbers and symbols in this attribute to 'UNKNOWN', and change all the lowercase to uppercase.

In [45]:
def midemptyname_to_unknown(x):
    if x == 'x':
        return 'X'
    elif x.isalpha():
        return x
    else:
        return "UNKNOWN"

In [46]:
ds = update(ds, columns='Mid Init', func = midemptyname_to_unknown)

In [47]:
filtering = filter(ds, predicate=Col('Mid Init') == 'X')
filtering.head()

,Fiscal Year,Payroll Number,Agency Name,Last Name,First Name,Mid Init,Agency Start Date,Work Location Borough,Title Description,Leave Status as of June 30,Base Salary,Pay Basis,Regular Hours,Regular Gross Paid,OT Hours,Total OT Paid,Total Other Pay
2027,2020,25,LAW DEPARTMENT,HUANG,MARGARET,X,08/12/2019,BROOKLYN,ASSISTANT CORPORATION COUNSEL,CEASED,73579.00,per Annum,1340.5,53463.70,0,0.00,0.00
2465,2020,25,LAW DEPARTMENT,WALKER,DEJA,X,12/09/2019,QUEENS,COMMUNITY COORDINATOR,ACTIVE,62215.00,per Annum,980,33317.34,27.25,1093.96,78.44
3291,2020,30,DEPARTMENT OF CITY PLANNING,FISCHER,STEVE,X,06/03/2019,MANHATTAN,SUMMER COLLEGE INTERN,CEASED,17.50,per Hour,307.38,5379.29,0,0.00,122.50
4862,2020,56,POLICE DEPARTMENT,DERRICO,STEPHEN,X,07/15/1986,MANHATTAN,LIEUTENANT D/A COMMANDER OF DETECTIVE SQUAD,ACTIVE,144726.00,per Annum,2122.08,147872.87,976.33,59906.64,26511.07
5636,2020,56,POLICE DEPARTMENT,TERAN,FRANCIS,X,04/30/1991,QUEENS,SERGEANT-D/A SUPERVISOR DETECTIVE SQUAD,ACTIVE,125531.00,per Annum,2162.5,130296.74,562.75,53488.23,18749.22

### 'Agency Start Date' wrong value : 12/31/9999, 10/16/2049
Since an agency start date could not be in the future, we decide to change these dates to ''

In [48]:
def agency_start_date(x):
    if x == '12/31/9999':
        return ''
    elif x == '10/16/2049':
        return ''
    else:
        return x

In [49]:
ds = update(ds, columns='Agency Start Date', func = agency_start_date)

In [50]:
filtering = filter(ds, predicate=Col('Agency Start Date') == '12/31/9999' or Col('Agency Start Date') == '10/16/2049')
filtering.head()

# no data shown here, proving that the wrong values are truly updated.

Empty DataFrame
Columns: [Fiscal Year, Payroll Number, Agency Name, Last Name, First Name, Mid Init, Agency Start Date, Work Location Borough, Title Description, Leave Status as of June 30, Base Salary, Pay Basis, Regular Hours, Regular Gross Paid, OT Hours, Total OT Paid, Total Other Pay]
Index: []

### change the negative values in 'Regular Hours'  and 'OT Hours' to ' '
We don't think working hours can be represented as negatives

In [51]:
def Regular_Hours(x):
    if float(x) < 0:
        return ''
    else:
        return x
    
def OT_Hours(x):
    if float(x) < 0:
        return ''
    else:
        return x

In [52]:
ds = update(ds, columns='Regular Hours', func = Regular_Hours)
ds = update(ds, columns='OT Hours', func = OT_Hours)

In [53]:
filtering = filter(ds, predicate=Col('Regular Hours')=='' or Col('OT Hours')=='')
filtering.head()

,Fiscal Year,Payroll Number,Agency Name,Last Name,First Name,Mid Init,Agency Start Date,Work Location Borough,Title Description,Leave Status as of June 30,Base Salary,Pay Basis,Regular Hours,Regular Gross Paid,OT Hours,Total OT Paid,Total Other Pay
2921,2020,25,LAW DEPARTMENT,ST CYR,ANDREW,C,10/22/2018,MANHATTAN,SENIOR STUDENT LEGAL SPECIALIST,CEASED,49157.00,per Annum,,-711.63,0,0.00,0.00
57539,2020,56,POLICE DEPARTMENT,MEDINA,JOSE,M,12/20/1998,MANHATTAN,SCHOOL SAFETY AGENT,ON LEAVE,50207.00,per Annum,,24806.12,0,0.00,252.79
61546,2020,56,POLICE DEPARTMENT,GIBSON,DARRELL,UNKNOWN,12/20/1998,MANHATTAN,SCHOOL SAFETY AGENT,CEASED,48745.00,per Annum,,12910.02,0,122.13,133.64
61719,2020,56,POLICE DEPARTMENT,EZZELL,LATISHA,N,09/25/2006,MANHATTAN,SCHOOL SAFETY AGENT,CEASED,48745.00,per Annum,,10633.94,0,0.00,1804.54
61733,2020,56,POLICE DEPARTMENT,RYAN,ALLAN,J,07/01/2002,MANHATTAN,SCHOOL SAFETY AGENT,CEASED,48745.00,per Annum,,12435.60,0,0.00,-45.45

### 'Agency Name' value : police department, board of correction
1.to uppercase   "Police Department" -> "POLICE DEPARTMENT"
2.the inconsistent "BOARD OF CORRECTIONS" , "BOARD OF CORRECTION"
we decide to change "BOARD OF CORRECTIONS" to "BOARD OF CORRECTION", because there are more records using "BOARD OF CORRECTION"

In [54]:
def agency_name(x):
    if x != '':
        x = x.upper()
    if x == 'BOARD OF CORRECTIONS':
        x ='BOARD OF CORRECTION'
    return x

In [55]:
ds = update(ds, columns='Agency Name', func = agency_name)

In [56]:
filtering = filter(ds, predicate = Col('Agency Name') == 'BOARD OF CORRECTIONS' or Col('Agency Name') == 'Police Station' )
filtering.head()

# no data : All updated

Empty DataFrame
Columns: [Fiscal Year, Payroll Number, Agency Name, Last Name, First Name, Mid Init, Agency Start Date, Work Location Borough, Title Description, Leave Status as of June 30, Base Salary, Pay Basis, Regular Hours, Regular Gross Paid, OT Hours, Total OT Paid, Total Other Pay]
Index: []

### 'Work Location Borough'
All capitalized

In [57]:
def work_location_borough(x):
    if x == '':
        return "UNKNOWN"
    else:
        return x.upper()

In [58]:
ds = update(ds, columns='Work Location Borough', func = work_location_borough)

In [59]:
filtering = filter(ds, predicate = Col('Work Location Borough') == 'Manhattan' )
filtering.head()

Empty DataFrame
Columns: [Fiscal Year, Payroll Number, Agency Name, Last Name, First Name, Mid Init, Agency Start Date, Work Location Borough, Title Description, Leave Status as of June 30, Base Salary, Pay Basis, Regular Hours, Regular Gross Paid, OT Hours, Total OT Paid, Total Other Pay]
Index: []

### 'TItle Description'
deal with the typos.

let the same kind of title being consistent expression
and for the empty one, we return the 'UNKNOWN'

In [60]:
def title_description(x):
    if x == 'SERGEANT D/A SPECIAL ASSIGNMENT':
        return 'SERGEANT-D/A SPECIAL ASSIGNMENT'
    
    if x == 'SECRETARY TO ONE DEPUTY COMMISSIONER':
        return 'SECRETARY TO THE DEPUTY COMMISSIONER'
    
    if x == 'SECRETARY TO COMMISSIONER':
        return 'SECRETARY OF COMMISSIONER'
    
    if x == 'SENIOR SYSTEMS ANALYST':
        return 'SENIOR SYSTEMS ANALYSTS'
    
    if x == 'SERGEANT D/A SUPERVISOR DETECTIVE SQUAD':
        return 'SERGEANT-D/A SUPERVISOR DETECTIVE SQUAD'
    
    if x == 'RADIO AND TEVEVISION OPERATOR':
        return 'RADIO AND TELEVISION OPERATOR'
    
    if x == 'SECRETARY TO THE DEPARTMENT':
        return 'SECRETARY OF THE DEPARTMENT'
    
    if x == 'SECRETARY OF DEPARTMENT':
        return 'SECRETARY TO DEPARTMENT'
    
    if x == 'SUPV OF HOUSING EXTERMINATORS':
        return 'SUPV OF HOUSING EXTERMINATOR'
    
    if x == 'P/T SCHOOL AIDE':
        return 'F/T SCHOOL AIDE'
    
    if x == 'SERGEANT-':
        return 'SERGEANT'
    
    if x == 'CHAUFFEUR ATTENDANT':
        return 'CHAUFFEUR-ATTENDANT'

In [61]:
ds = update(ds, columns='Title Description', func = title_description)

In [62]:
filtering = filter(ds, predicate = Col('Title Description') == 'SERGEANT-' )
filtering.head()

Empty DataFrame
Columns: [Fiscal Year, Payroll Number, Agency Name, Last Name, First Name, Mid Init, Agency Start Date, Work Location Borough, Title Description, Leave Status as of June 30, Base Salary, Pay Basis, Regular Hours, Regular Gross Paid, OT Hours, Total OT Paid, Total Other Pay]
Index: []

In [68]:
def title_description_2(x):
    if x == '' or x is None:
        return 'UNKNOWN'
    if x[0] == '?':
        return x[1:]
    if x[0] == '*':
        return x[1:]    
    if x == 'SERGEANT-':
        return 'SERGEANT'
    if x == 'GENERAL INSPECTOR':
        return 'INSPECTOR GENERAL'
    if x == 'SERGEANTD/A SUPERVISOR DETECTIVE SQUAD':
        return 'SERGEANT-D/A SUPERVISOR DETECTIVE SQUAD'
    if x == 'CASE - MANAGEMENT NURSE':
        return 'CASE MANAGEMENT NURSE'

In [69]:
from openclean.operator.transform.update import update
ds = update(ds, columns='Title Description', func = title_description_2)

In [70]:
filtering = filter(ds, predicate = Col('Title Description') == '*ASSISTANT ADVOCATE-PD' )
filtering.head()

Empty DataFrame
Columns: [Fiscal Year, Payroll Number, Agency Name, Last Name, First Name, Mid Init, Agency Start Date, Work Location Borough, Title Description, Leave Status as of June 30, Base Salary, Pay Basis, Regular Hours, Regular Gross Paid, OT Hours, Total OT Paid, Total Other Pay]
Index: []

## Write the updated dataset to a new csv file

In [71]:
# use openclean stream to load data
new_ds = stream(ds)

In [72]:
# write new data to current directory
file = "./NYC_Payroll_new.csv"

new_ds.write(file)